body {
  font-family: "Open Sans";
  font-size: 1.5rem;
  color: #464646;
}

.nav header {
  margin: auto;
  display: flex;
  max-width: 80vw;
  font-size: 1.5rem;
  padding-top: 2rem;
  height: 8vw;
}

#footer {
  margin: auto;
  max-width: 80vw;
}

#footer div {
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
}

#footer img {
  width: auto;
  height: 2vw;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #00afcc;
}

h4 {
  margin: 0;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border-radius: 3rem;
  background-color: #00afcc;
  font-size: 1rem;
  color: #ffffff;
  border: 0px solid transparent;
}

/* Navigation */

img.givlyLogo {
  width: 240px;
  height: auto;
  padding: 10px;
}

nav {
  display: inline-flex;
  justify-content: space-between;
  font-size: 1.4em;
  height: 120px;
  color: #F2F6F5;
  width: 100%;
}

#navlinks {
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
  line-height: 1.75;
}

#dashboard, #analytics, #logout {
  padding: 20px; 
  font-size: .8em;
  color: #464646;
}
#dashboard {
  padding-left:70px;
}

a:visited, a:active {
  color: #464646;
}

/* Dashboard */
main {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#product-column {
  display: flex;
  flex-direction: column;
}

#cart-column {
  display: flex;
  flex-direction: column;
}

#search {
  /*  */
  padding: 10px;
  width: 80%;
}

input {
  /*  */
  height: 2rem;
}

.searchBar {
  width: 80vw;
}

.product, .cartItem {
  display: flex;
  max-width: 40vw;
  padding: 10px;
  margin: 5px;
  font-size: 1rem;
}

.cartItem {
  font-size: 0.75rem;
}

article.product, article.cartItem {
  justify-content: flex-start;
}

.product h5 {
  font-size: 1.5rem;
}

.cart h5 {
  font-size: 1rem;
}

.product footer, .cartItem footer {
  display: flex;
  flex-direction: column;
}

.product img {
  width: 4rem;
  font-size: 1rem;
  margin-right: 1rem;
  height: auto;
}

.cartItem img {
  width: 3rem;
  font-size: 1rem;
  margin-right: 1rem;
  height: auto;
}

.recipientId {
  padding: 10px;
  width: 80%;
  margin: 5px;

}

.cart-item {
  border: 1px solid #1C6EA4;
  padding: 10px;
  margin: 5px;
}

/* Analytics */

div .chart {
  display:flex;
  width: 60%;
  min-width:600px;
  height: auto;
  padding: 10px;
  margin: 10px;
}

#analytics-labels{
  display: flex;
  padding: 0 50px;
  text-align: end;
  font-size: 1.2em;
  margin: 5px;
}

#givs-heading {
  padding-right: 550px;
}

.time-setting, .time2-setting{
  padding:30px; 
  width: 750px;
  height: 65px;
  flex:.4;
}

#givs-charts {
  display: flex;
  margin: 15px;
}

#cartimg { 
  min-width: 300px;
  width: 25%;
  height: 80%;
  padding-top:40px;
  filter:opacity(.5);
  align-self:center;
}

#itm-rx-labels {
  padding: 20px;
}

.itm-rx-label {
  margin: 10px 20px;
  padding: 5px 50px;
}

#item-charts {
  display: flex;
  margin: 10px 20px 50px 20px;
}